.profile-container {
  display: flex;
  flex-direction: row;// | column | column-reverse;
  flex-wrap: wrap;
  justify-content: center;

  .profile-container-column-1 {
    flex-basis: 20%;
    border-right: solid lightgray 0.1em;
    padding: 10px;
    text-align: center;

    img {
      max-width: 100%;
      border-radius: 50%;
      border: solid black 3px;
    }

    &__row {
      margin: 10px 0;
    }
  }

  .profile-container-column-2 {
    flex-basis: 40%;
    padding: 10px;

    &__title {
      margin-bottom: 10px;
    }

    &__content {
      &-row {
        margin-bottom: 10px;
      }

      &___title {

      }
      &___organization {

      }
      &___date {

      }
      &___description {

      }
    }

    &__row {
      padding: 10px 5px;
      margin: 15px 0;
      border-bottom: solid lightgray 0.1em;

      &--content {
        display: flex;
        justify-content: space-between;
        width: 60%;
        &:first-child {
          order: -1;
        }
      }
      .profile-content {
        padding: 10px 0;
      }
    }
  }

  .profile-container-column-3 {
    flex-basis: 10%;
    border-left: solid lightgray 0.1em;
    text-align: center;
    img {
      //height: 50px;
      width: 100%;
    }
  }

  @media all and (max-width: 767px) {
    .profile-container-column-1 {
      display: none;
    }

    .profile-container-column-2 {
      flex-basis: 100%;
    }

    .profile-container-column-3 {
      display: none;
    }
  }
}

#navigation {
  height: 50px;
  background: black;
  margin-bottom: 10px;
}